body{
    display: grid;
    background-image: url();
    background-size: cover;
    place-items: center;
}
h1{
    text-align: center;
}

.hey_love{
    width: 350px;
    height: 265px;
    overflow: scroll;
    text-align: center;
    padding-top: 20px;
    background-color: rgb(153, 153, 153);
}
